.search-form__content {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 1230px;
}

.search-form__heading {
    text-align: center;
}

.search-form__content-title {
    
}
.search-form{
    display: flex;
    justify-content: center;
}
.search-form__item{
    padding: 0 5px;
    width: 250px;
}
.search-form__item-select{
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.search-form__button{
    padding: 0 5px;
    width: 120px;
}
.search-form__button-submit{
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 3px;
    height: 40px;
    border: none;
    cursor: pointer;
}